# Ignore node_modules directory
node_modules/

# Ignore build output
build/
dist/

# Ignore log files
*.log

# Ignore editor and IDE specific files
.vscode/
.idea/
*.swp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore dependency lock files
yarn.lock
package-lock.json

# Ignore macOS specific files
.DS_Store

# Ignore sensitive or private information
secret.txt
credentials.json
